{{> navigation}}

<div class="row">
</div>

<div class="row bg-white m-4 pb-5 border-box">
    <div class="col-12 py-4 background-black">
        <h4 class="text-center m-0">ESTADÍSTICAS GENERALES</h4>
    </div>
    <div class="col-sm-12 col-lg-6 pt-lg-3">
        <canvas id="Ptipo2"></canvas>
    </div>
    <div class="col-sm-12 col-lg-6 pt-lg-3">
        <canvas id="promedioConcl"></canvas>
    </div>
    <div class="col-sm-12 offset-lg-3 col-lg-6">
        <canvas id="promedioAsis"></canvas>
    </div>
</div>

<div class="row bg-white m-4 pb-4 border-box">
    <div class="col-12 py-4 background-black">
        <h4 class="text-center m-0">RELACIÓN DE EVENTOS</h4>
    </div>
    <div class="col-sm-12 backform">
        <form>
            <div class="row">
                <div class="col-12 offset-lg-2 col-lg-8 d-lg-flex align-items-lg-center">
                    <label class="mb-3 mb-lg-0 mr-lg-3 mb-0" for="fechade">De</label>
                    <input class="form-control mb-3 mb-lg-0 mr-lg-3" type="date" id="fechade" min="2020-01-01" max=""
                        pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required>
                    <label class="mb-3 mb-lg-0 mr-lg-3 mb-0" for="fechaA">A</label>
                    <input class="form-control mb-3 mb-lg-0 mr-lg-3" type="date" id="fechaA" min="2020-01-01" max=""
                        pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                    <button type="button" class="btn btn-dark mr-lg-3" id="buscarXfecha">Buscar</button>
                    <button type="button" class="btn btn-dark" id="mostrartodo" style="width: 460px;">Mostrar
                        todo</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-12 pt-5">
        <h4 class="text-center">Perdida de posición</h4>
        <div class="divider div-transparent"></div>
        <div class="text-center mt-4" id="alerta"></div>
        <div id="divCunidad"><canvas style="display: none" id="Cunidad"></canvas></div>
    </div>
    <div class="col-sm-12 pt-5">
        <h4 class="text-center">Desconexión de batería principal</h4>
        <div class="divider div-transparent"></div>
        <div class="text-center mt-4" id="alerta3"></div>
        <canvas style="display: none" id="pp10"></canvas>
    </div>
    <div class="col-sm-12 pt-5">
        <h4 class="text-center">Presiones SOS</h4>
        <div class="divider div-transparent"></div>
        <div class="text-center mt-4" id="alerta7"></div>
        <canvas style="display: none" id="presionesSOS"></canvas>
    </div>
    <div class="col-sm-12 pt-5">
        <h4 class="text-center">Error en antena GPS</h4>
        <div class="divider div-transparent"></div>
        <div class="text-center mt-4" id="alerta2"></div>
        <canvas style="display: none" id="jammer"></canvas>
    </div>
    <div class="col-sm-12 pt-5">
        <h4 class="text-center">Recarga de Combustible</h4>
        <div class="divider div-transparent"></div>
        <div class="text-center mt-4" id="alerta9"></div>
        <canvas style="display: none" id="det5min"></canvas>
    </div>
    <div class="col-sm-12 pt-5">
        <h4 class="text-center">Descarga de Combustible</h4>
        <div class="divider div-transparent"></div>
        <div class="text-center mt-4" id="alerta8"></div>
        <canvas style="display: none" id="descEnerg"></canvas>
    </div>
</div>
</main>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
<script>
    $(document).ready(function () {

        //////////////////////////////////////COLORES
        let rojo = "rgb(255, 99, 132)",
            azul = "rgb(54, 162, 235)",
            amarillo = "rgb(255, 205, 86)",
            verde = "rgb(134, 249, 130)",
            morado = "rgb(221, 148, 237)",
            rosa = "rgb(255, 113, 195)";

        /////////////////////////////////////FECHAS
        var aleatorio = Math.floor(1000 + Math.random() * 90000);
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("fechade").setAttribute("max", today);
        document.getElementById("fechaA").setAttribute("max", today);

        //////////////////////////////////////GRÁFICAS PASTEL
        function estadisticasEstado() {
            fetch('/estadisticasEst', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then((res) => res.json())
                .then((data) => {

                    var PTN = document.getElementById("Ptipo2");
                    var ctx = PTN.getContext('2d');
                    if (window.pastel3) {
                        window.pastel3.clear();
                        window.pastel3.destroy();
                    }

                    window.pastel3 = new Chart(PTN, {
                        type: 'pie',
                        data: {
                            "labels": [
                                "Urgente", "En proceso", "Concluido"
                            ],
                            "datasets": [{
                                "lable": "% tipo de notificación",
                                "data": [data.urgente[0].urgente, data.proceso[0].proceso, data.concluido[0].concluido],
                                "backgroundColor": [rojo, amarillo, verde]
 
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    gridLines: {
                                        display: false
                                    },
                                    ticks: {
                                        display: false
                                    }
                                }]
                            },
                            layout: {
                                padding: {
                                    left: 0,
                                    right: 0,
                                    top: 20,
                                    bottom: 20
                                }
                            },
                            plugins: {
                                labels: {
                                    render: 'value'
                                }
                            }
                        }

                    });
                })
                .catch((err) => console.log(err));
        }

        function promedioCon() {
            fetch('/promedioConcl', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then((res) => res.json())
                .then((data) => {

                    var divpromConcl = document.getElementById("promedioConcl");
                    var ctx = divpromConcl.getContext('2d');
                    if (window.pastel2) {
                        window.pastel2.clear();
                        window.pastel2.destroy();
                    }
                    
                    window.pastel2 = new Chart(divpromConcl, {
                        type: 'pie',
                        data: {
                            "labels": [
                                "Total notificaciones", "Concluidos %"
                            ],
                            "datasets": [{
                                "lable": "% tipo de notificación",
                                "data": [data.cierre.totalN, data.cierre.promedioCierre],
                                "backgroundColor": [morado, verde]

                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    gridLines: {
                                        display: false
                                    },
                                    ticks: {
                                        display: false
                                    }
                                }]
                            },
                            layout: {
                                padding: {
                                    left: 0,
                                    right: 0,
                                    top: 20,
                                    bottom: 20
                                }
                            },
                            plugins: {
                                labels: {
                                    render: 'value'
                                }
                            }
                        }

                    });
                })
                .catch((err) => console.log(err));
        }

        function promedioAsis() {
            fetch('/promedioAsis', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then((res) => res.json())
                .then((data) => {

                    var divpromAsis = document.getElementById("promedioAsis");
                    var ctx = divpromAsis.getContext('2d');
                    if (window.pastel) {
                        window.pastel.clear();
                        window.pastel.destroy();
                    }
                    
                    window.pastel = new Chart(divpromAsis, {
                        type: 'pie',
                        data: {
                            "labels": [
                                "Total notificaciones", "Asistencia %"
                            ],
                            "datasets": [{
                                "lable": "% tipo de notificación",
                                "data": [data.asistencia.totalN, data.asistencia.promedioAsist],
                                "backgroundColor": [azul, amarillo]

                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    },
                                    gridLines: {
                                        display: false
                                    },
                                    ticks: {
                                        display: false
                                    }
                                }]
                            },
                            layout: {
                                padding: {
                                    left: 0,
                                    right: 0,
                                    top: 20,
                                    bottom: 15
                                }
                            },
                            plugins: {
                                labels: {
                                    render: 'value'
                                }
                            }
                        }

                    });
                })
                .catch((err) => console.log(err));
        }

        //////////////////////////////////////GRÁFICAS BARRA
        function graficasBarra(inicio, final) {

            fetch('/graficabarra', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    inicio: inicio,
                    final: final
                })
            })
                .then((res) => res.json())
                .then((data) => {

                    //-----Perdida de posicion
                    var perdPos = [];
                    var perdPoscant = [];

                    var CU = document.getElementById("Cunidad");
                    var ctx = CU.getContext('2d');
                    if (window.grafica) {
                        window.grafica.clear();
                        window.grafica.destroy();
                    }

                    if (data.perdidaPos.length !== 0) {

                        CU.style.display = "block";
                        data.perdidaPos.forEach(com => {
                            perdPos.push(com.idUnidad);
                            perdPoscant.push(com.cantidad);
                        });

                        window.grafica = new Chart(CU, {
                            type: 'bar',
                            data: {
                                "labels": perdPos,
                                "datasets": [{
                                    "label": "Cantidad de Notificaciones por Unidad",
                                    "data": perdPoscant,
                                    "backgroundColor": [rojo, azul, amarillo, verde, morado, rojo, azul, amarillo, verde, morado]
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true,
                                        }
                                    }],
                                    xAxes: [{
                                        ticks: {
                                            padding: 20
                                        }
                                    }]
                                },
                                layout: {
                                    padding: {
                                        left: 15,
                                        right: 15,
                                        top: 20,
                                        bottom: 20
                                    }
                                },
                                plugins: {
                                    labels: {
                                        render: 'value'
                                    }
                                },
                                legend: {
                                    display: false
                                },
                                tooltips: {
                                    callbacks: {
                                        label: function (tooltipItem) {
                                            return tooltipItem.yLabel;
                                        }
                                    }
                                }
                            }
                        });
                    } else {
                        var adv = '<div class="alert alert-warning mb-5" role="alert">No se encontraron unidades con detección de Perdida de posición</div>';
                        document.getElementById("alerta").innerHTML = adv;
                        CU.style.display = "none";
                    }

                    //-----Error en antena GPS
                    var undjammer = [];
                    var jammercant = [];

                    var divjammer = document.getElementById("jammer");
                    var ctx2 = divjammer.getContext('2d');
                    if (window.grafica2) {
                        window.grafica2.clear();
                        window.grafica2.destroy();
                    }

                    if (data.antena.length !== 0) {

                        divjammer.style.display = "block";
                        data.antena.forEach(com => {
                            undjammer.push(com.idUnidad);
                            jammercant.push(com.cantidad);
                        });

                        window.grafica2 = new Chart(divjammer, {
                            type: 'bar',
                            data: {
                                "labels": undjammer,
                                "datasets": [{
                                    "label": "Cantidad de Notificaciones por Unidad",
                                    "data": jammercant,
                                    "backgroundColor": [rojo, azul, amarillo, verde, morado, rojo, azul, amarillo, verde, morado]
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true,
                                        }
                                    }],
                                    xAxes: [{
                                        ticks: {
                                            padding: 20
                                        }
                                    }]
                                },
                                layout: {
                                    padding: {
                                        left: 15,
                                        right: 15,
                                        top: 20,
                                        bottom: 20
                                    }
                                },
                                plugins: {
                                    labels: {
                                        render: 'value'
                                    }
                                },
                                legend: {
                                    display: false
                                },
                                tooltips: {
                                    callbacks: {
                                        label: function (tooltipItem) {
                                            return tooltipItem.yLabel;
                                        }
                                    }
                                }
                            }
                        });
                    } else {
                        var adv2 = '<div class="alert alert-warning mb-5" role="alert">No se encontraron unidades con error en antena GPS</div>';
                        document.getElementById("alerta2").innerHTML = adv2;
                        divjammer.style.display = "none";
                    }

                    //-----Desconexión de batería principal
                    var pp10min = [];
                    var pp10mincant = [];

                    var excvelocd = document.getElementById("pp10");
                    var ctx3 = excvelocd.getContext('2d');
                    if (window.grafica3) {
                        window.grafica3.clear();
                        window.grafica3.destroy();
                    }

                    if (data.desBat.length !== 0) {

                        excvelocd.style.display = "block";
                        data.desBat.forEach(com => {
                            pp10min.push(com.idUnidad);
                            pp10mincant.push(com.cantidad);
                        });

                        window.grafica3 = new Chart(excvelocd, {
                            type: 'bar',
                            data: {
                                "labels": pp10min,
                                "datasets": [{
                                    "label": "Cantidad de Notificaciones por Unidad",
                                    "data": pp10mincant,
                                    "backgroundColor": [rojo, azul, amarillo, verde, morado, rojo, azul, amarillo, verde, morado]
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true,
                                        }
                                    }],
                                    xAxes: [{
                                        ticks: {
                                            padding: 20
                                        }
                                    }]
                                },
                                layout: {
                                    padding: {
                                        left: 15,
                                        right: 15,
                                        top: 20,
                                        bottom: 20
                                    }
                                },
                                plugins: {
                                    labels: {
                                        render: 'value'
                                    }
                                },
                                legend: {
                                    display: false
                                },
                                tooltips: {
                                    callbacks: {
                                        label: function (tooltipItem) {
                                            return tooltipItem.yLabel;
                                        }
                                    }
                                }
                            }
                        });
                    } else {
                        var adv3 = '<div class="alert alert-warning mb-5" role="alert">No se encontraron unidades con desconexión de batería principal</div>';
                        document.getElementById("alerta3").innerHTML = adv3;
                        excvelocd.style.display = "none";
                    }

                    //-----Presiones SOS
                    var preSOS = [];
                    var preSOScant = [];

                    var divSOS = document.getElementById("presionesSOS");
                    var ctx7 = divSOS.getContext('2d');
                    if (window.grafica7) {
                        window.grafica7.clear();
                        window.grafica7.destroy();
                    }

                    if (data.sos.length !== 0) {

                        divSOS.style.display = "block";
                        data.sos.forEach(com => {
                            preSOS.push(com.idUnidad);
                            preSOScant.push(com.cantidad);
                        });

                        window.grafica7 = new Chart(divSOS, {
                            type: 'bar',
                            data: {
                                "labels": preSOS,
                                "datasets": [{
                                    "label": "Cantidad de Notificaciones por Unidad",
                                    "data": preSOScant,
                                    "backgroundColor": [rojo, azul, amarillo, verde, morado, rojo, azul, amarillo, verde, morado]
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true,
                                        }
                                    }],
                                    xAxes: [{
                                        ticks: {
                                            padding: 20
                                        }
                                    }]
                                },
                                layout: {
                                    padding: {
                                        left: 15,
                                        right: 15,
                                        top: 20,
                                        bottom: 20
                                    }
                                },
                                plugins: {
                                    labels: {
                                        render: 'value'
                                    }
                                },
                                legend: {
                                    display: false
                                },
                                tooltips: {
                                    callbacks: {
                                        label: function (tooltipItem) {
                                            return tooltipItem.yLabel;
                                        }
                                    }
                                }
                            }
                        });
                    } else {
                        var adv7 = '<div class="alert alert-warning mb-5" role="alert">No se encontraron unidades con detección de Presiones SOS</div>';
                        document.getElementById("alerta7").innerHTML = adv7;
                        divSOS.style.display = "none";
                    }

                    //-----Descarga de combustible
                    var energia = [];
                    var energiacant = [];

                    var divenerg = document.getElementById("descEnerg");
                    var ctx8 = divenerg.getContext('2d');
                    if (window.grafica8) {
                        window.grafica8.clear();
                        window.grafica8.destroy();
                    }

                    if (data.descombust.length !== 0) {

                        divenerg.style.display = "block";
                        data.descombust.forEach(com => {
                            energia.push(com.idUnidad);
                            energiacant.push(com.cantidad);
                        });

                        window.grafica8 = new Chart(divenerg, {
                            type: 'bar',
                            data: {
                                "labels": energia,
                                "datasets": [{
                                    "label": "Cantidad de Notificaciones por Unidad",
                                    "data": energiacant,
                                    "backgroundColor": [rojo, azul, amarillo, verde, morado, rojo, azul, amarillo, verde, morado]
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true,
                                        }
                                    }],
                                    xAxes: [{
                                        ticks: {
                                            padding: 20
                                        }
                                    }]
                                },
                                layout: {
                                    padding: {
                                        left: 15,
                                        right: 15,
                                        top: 20,
                                        bottom: 20
                                    }
                                },
                                plugins: {
                                    labels: {
                                        render: 'value'
                                    }
                                },
                                legend: {
                                    display: false
                                },
                                tooltips: {
                                    callbacks: {
                                        label: function (tooltipItem) {
                                            return tooltipItem.yLabel;
                                        }
                                    }
                                }
                            }
                        });
                    } else {
                        var adv8 = '<div class="alert alert-warning mb-5" role="alert">No se encontraron unidades con descarga de combustible</div>';
                        document.getElementById("alerta8").innerHTML = adv8;
                        divenerg.style.display = "none";
                    }

                    //-----Recarga de combustible
                    var recargaComb = [];
                    var recargaCombcant = [];

                    var recombust = document.getElementById("det5min");
                    var ctx9 = recombust.getContext('2d');
                    if (window.grafica4) {
                        window.grafica4.clear();
                        window.grafica4.destroy();
                    }

                    if (data.recombust.length !== 0) {

                        recombust.style.display = "block";
                        data.recombust.forEach(com => {
                            recargaComb.push(com.idUnidad);
                            recargaCombcant.push(com.cantidad);
                        });

                        window.grafica4 = new Chart(recombust, {
                            type: 'bar',
                            data: {
                                "labels": recargaComb,
                                "datasets": [{
                                    "label": "Cantidad de Notificaciones por Unidad",
                                    "data": recargaCombcant,
                                    "backgroundColor": [rojo, azul, amarillo, verde, morado, rojo, azul, amarillo, verde, morado]
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true,
                                        }
                                    }],
                                    xAxes: [{
                                        ticks: {
                                            padding: 20
                                        }
                                    }]
                                },
                                layout: {
                                    padding: {
                                        left: 15,
                                        right: 15,
                                        top: 20,
                                        bottom: 20
                                    }
                                },
                                plugins: {
                                    labels: {
                                        render: 'value'
                                    }
                                },
                                legend: {
                                    display: false
                                },
                                tooltips: {
                                    callbacks: {
                                        label: function (tooltipItem) {
                                            return tooltipItem.yLabel;
                                        }
                                    }
                                }
                            }
                        });
                    } else {
                        var adv4 = '<div class="alert alert-warning mb-5" role="alert">No se encontraron unidades con recarga de combustible</div>';
                        document.getElementById("alerta9").innerHTML = adv4;
                        recombust.style.display = "none";
                    }

                })
                .catch((err) => console.log(err));
        }

        //////////////////////////////////////GRÁFICAS BARRA (BUSCAR POR FECHA)
        document.getElementById('buscarXfecha').addEventListener('click', graficafechas);

        function graficafechas() {
            var inicio = document.getElementById('fechade').value;
            var final = document.getElementById('fechaA').value;

            graficasBarra(inicio, final);
        }

        //////////////////////////////////////MOSTRAR TODO  
        document.getElementById('mostrartodo').addEventListener('click', mostrarTod);

        function mostrarTod() {
            graficasBarra('', '');
        }

        /////////////////////////////////////MOSTRAR TODO

        estadisticasEstado();
        setInterval(estadisticasEstado, 30000);
        promedioCon();
        setInterval(promedioCon, 30000);
        promedioAsis();
        setInterval(promedioAsis, 30000);
        //setTimeout(cargar_grafico_GU, 20000);
        graficasBarra('', '');

    });
</script>